.bg-black{
    padding: 0 30px;
    background: #000000; 
    border-top: none;
    box-shadow: none;
    height: 52px;
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

.headline{
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}

.msg-overlay{
    flex-direction: row;
    align-items: center;
    padding: 15px 12px;
    min-height: 43px;
    position: relative;
    color: #Fff;
    background: #000000;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    float: right;
}

.profile-name-feed {
    top: .9375rem;
    left: 4rem;
    position: absolute;
    font-weight:500;
}

.feed-number-actions {
  padding :.5rem 1rem ;
  text-align: right;
}

.feed-button-container{
    padding-top :0.5rem;
    padding-bottom :0.5rem;
    text-align: center;
}
.feed-button-action{
    padding:.25rem 8%;
    width:30%;
    display:inline;
   
}

.feed-hyperlink-action{
    text-decoration:none;
    color: #5a6169;
}
